.modal__card {
  height: 200px;
  border: 1px solid black;
  width: 480px;
  background: #fff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}
header {
  height: 32px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e1e1e1;
}
button {
  width: 24px;
  height: 24px;
  border: none;
  display: flex;
  color: #5e4f4f;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background: transparent;
}
main {
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 32px);
}
